.card-container{
}


.card{
    height: auto;
    padding:16px ;
    background-color: #141414;
    color:white
}



.pizza img{    
    padding:10px ;
    background-color: #12ee56;
    border-radius: 20px;
    
    

}